.main_div{
  padding: 100px;
  width: 300px;
  height: 300px;
}
.div2{
  width: 100px;
  height: 100px;
  float: left;
}
.div4{
  width: 100px;
  height: 100px;
  float: left;
}
.div6{
  width: 100px;
  height: 100px;
  float: left;
}
.div8{
  width: 100px;
  height: 100px;
  float: left;
}
.div1{
  background: black;
  width: 100px;
  height: 100px;
  float: left;
}
.div3{
  background: black;
  width: 100px;
  height: 100px;
  float: left;
}
.div5{
  background: black;
  width: 100px;
  height: 100px;
  float: left;
}
.div7{
  background: black;
  width: 100px;
  height: 100px;
  float: left;
}
.div9{
  background: black;
  width: 100px;
  height: 100px;
  float: left;
}
